#!/bin/sh

source /database/config/{{ db2_user }}/sqllib/db2profile

function db2_verify_and_start {

    if ! db2gcf -s | grep Available >/dev/null; then

        db2_kill
        db2_k=$?

        ipclean -a

        db2start
        db2_start=$?
        
        echo ""
        echo "db2_verify_and_start: db2_kill=$db2_k |db2start=$db2_start "
        if [ "$db2_start" -ne  "0" ]; then
            echo "db2_verify_and_start: ERROR - error detected "
            exit 1
        fi

        echo ""
        echo "db2_verify_and_start: Check if DB2 is Available "
        counter=0
        max_checks=5
        interval=30

        while [ $counter -lt $max_checks ]; do
            if db2gcf -s | grep Available >/dev/null; then
                echo "db2_verify_and_start: DB2 is Available "
                break  # Exit loop if condition is met
            else
                echo "db2_verify_and_start: DB2 is starting. Waiting $interval seconds before next check... "
                sleep $interval
                counter=$((counter + 1))
            fi
        done

        if [ $counter -eq $max_checks ]; then
            echo "db2_verify_and_start: ERROR: DB2 is NOT Available. Please check. "
            exit 2
        fi

    fi

}

function create_sccd_db {

cat << EOF > /tmp/initiate_sccd_db2.sql
CREATE DATABASE SCCD AUTOMATIC STORAGE YES USING CODESET UTF-8 TERRITORY US COLLATE USING SYSTEM PAGESIZE 32768;
EOF

    echo ""
    if [ ! -f "/tmp/initiate_sccd_db2.sql" ]; then
        echo "initiate_sccd_db: ERROR - Cannot generate initiate_sccd_db2.sql "
        exit 1
    fi
    
    echo "initiate_sccd_db: File /tmp/initiate_sccd_db2.sql created sucessfully "

    db2 -tvf /tmp/initiate_sccd_db2.sql -z /tmp/initiate_sccd_db2.sql.log 
}

########################## Main Part of Shell Script ##########################
echo "Start of script setupdb.sh"
echo ""

echo "Starting db2 - db2_verify_and_start"
db2_verify_and_start
echo ""

# Steps for SCC director
# -----------------------------------------------------------------------------
{% if scc_install_director %}
echo "Creating IBM Sterling Control Center Database - create_sccd_db"
create_sccd_db
echo ""
{% endif %}