#!/bin/sh

source /database/config/{{ db2_user }}/sqllib/db2profile

function db2_verify_and_start {

    if ! db2gcf -s | grep Available >/dev/null; then

        db2_kill
        db2_k=$?

        ipclean -a

        db2start
        db2_start=$?
        
        echo ""
        echo "db2_verify_and_start: db2_kill=$db2_k |db2start=$db2_start "
        if [ "$db2_start" -ne  "0" ]; then
            echo "db2_verify_and_start: ERROR - error detected "
            exit 1
        fi

        echo ""
        echo "db2_verify_and_start: Check if DB2 is Available "
        counter=0
        max_checks=5
        interval=30

        while [ $counter -lt $max_checks ]; do
            if db2gcf -s | grep Available >/dev/null; then
                echo "db2_verify_and_start: DB2 is Avaliable "
                break  # Exit loop if condition is met
            else
                echo "db2_verify_and_start: DB2 is starting. Waiting $interval seconds before next check... "
                sleep $interval
                counter=$((counter + 1))
            fi
        done

        if [ $counter -eq $max_checks ]; then
            echo "db2_verify_and_start: ERROR: DB2 is NOT Avaliable. Please check. "
            exit 2
        fi

    fi

}

function update_b2bi_db {


# UPDATE DATABASE CONFIG USING STMT_CONC LITERALS;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING SELF_TUNING_MEM ON;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOCKLIST AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING MAXLOCKS AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING PCKCACHESZ AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING SHEAPTHRES_SHR AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING SORTHEAP AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING NUM_IOCLEANERS AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING NUM_IOSERVERS AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING DFT_PREFETCH_SZ AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING MAXAPPLS AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING APPLHEAPSZ AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING APPL_MEMORY AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING DBHEAP AUTOMATIC;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGFILSIZ 65536;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGPRIMARY 40;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGSECOND 12;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING NUM_LOG_SPAN 40;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING DFT_DEGREE 1;
# UPDATE DATABASE CONFIG FOR {{ db2_dbname }} USING LOGBUFSZ 2152;

cat << EOF > /tmp/update_b2bi_db2.sql
CREATE DATABASE {{ db2_dbname }} AUTOMATIC STORAGE YES USING CODESET UTF-8 TERRITORY US COLLATE USING IDENTITY PAGESIZE 4096 DFT_EXTENT_SZ 32;
EOF

    echo ""
    if [ ! -f "/tmp/update_b2bi_db2.sql" ]; then
        echo "update_b2bi_db: ERROR - Cannot generate update_b2bi_db2.sql "
        exit 1
    fi
    
    echo "update_b2bi_db: File /tmp/update_b2bi_db2.sql created sucessfully "

    db2 -tvf /tmp/update_b2bi_db2.sql -z /tmp/update_b2bi_db2.sql.log 
}

########################## Main Part of Shell Script ##########################
echo "Start of script createdb.sh"
echo ""

echo "Starting db2 - db2_verify_and_start"
db2_verify_and_start
echo ""

echo "Creating Sterling B2Bi Database - update_b2bi_db"
update_b2bi_db
echo ""

echo "SUCCESS" > /database/config/{{ db2_user }}/CREATEDB.OUT
echo "End of script setupdb.sh "
